@media screen and (max-width:1000px) {
    #desktop-nav{
        display: none;
    }
    /*HAMBURGER MENU*/
    #hamburger-nav{
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
        height: 13vh;
    }
    .logo{
        font-size: 1.25rem;
    }
    .menu-links{
        z-index: 2;
    }


    /*PROFILE SECTION*/
    
    #profile{
        flex-direction: column;
        gap: 2rem;
    } 
    .section_pic-container{
        height: 250px;
        width: 250px;
        align-self: center;
        margin: 0;
        z-index: 1;
    } 
    .section_pic-container img{
        max-width: -webkit-fill-available;
    }  
    
    .section_text_p1 {
        font-size: 1.25rem;
    }
    .title{
        font-size: 2.25rem;
    }
    .section_text_p2 {
        font-size: 1.25rem;
        text-align: center;
    }

    .btn{
        width: 9rem;
    }

    /*ABOUT ME SECTION*/
    #about{
        height: 65vh;
    }
    .section_intro_img-container{
        display: none;
    }

    /*PROJECTS SECTION*/
    #projects{
        padding-bottom: 4rem;
    }
    .section_projects-container{
        flex-direction: column;
        gap: 2rem;
    }
    .project{
        align-self:center ;
        width: 250px;
    }
    .project-img{
        height: 250px;
    }
    .project p{
        display: none;
    }

    /* SKILLS SECTION*/

    #skills{
        padding-bottom: 4rem;
    }
    .skills_container{
        display: grid
;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    /*Education Section*/
    .left{
        display: none;
    }
    .center{
        flex: 0%;
    }
    .right{
        flex: 60%;
        justify-content: space-around;
        padding-bottom: 0;
    }
    .education_mobile{
        display: block;
    }

}